extends layout


block content
  .container
    .Content-one-half
      h2 Why Sennobia
      h3 Love Your Skin
      p Sennobia was created for people like you. We provide you the essential ingredients to combat environmental (and other) factors that lead to our skin's abuse. Make Sennobia a part of your daily skin care regimen and you will notice the Sennobia difference.