extends layout


block content
  h1= title
  p Welcome to #{title}

  .grid-flex-container

    .grid-flex-cell
      h2 Column 1
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium debitis ab, repellat, tempora a et beatae assumenda minus ea iusto. Maiores quos asperiores nam, minima soluta ab dolorem laborum. Cum.

    .grid-flex-cell
      h2 Column 2

      p.graph.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, facilis officiis! Quisquam quidem at harum illum commodi modi obcaecati voluptate, ut magnam ipsam dolor, consequatur totam. Possimus, nulla sapiente nobis.
